{% extends "base.html.twig" %}

{% block title %}
	Mon avatar!
{% endblock %}

{% block body %}
	<p>
		<a href="/">home</a>/<a href="membre">Espace membre</a>/<a href="profilModify">Modifier mon profil</a>/<a href="profilEdit">Editer mon profil</a>
	</p>
	<h1>Modifier mon avatar</h1>
	<div class="clearfix">
		<div class="left padding10"><img src="../images/avatars/avatar1.png"></div>
		<div class="left padding10"><img src="../images/avatars/avatar2.png"></div>
		<div class="left padding10"><img src="../images/avatars/avatar3.png"></div>
		<div class="left padding10"><img src="../images/avatars/avatar4.png"></div>
		<div class="left padding10"><img src="../images/avatars/avatar5.png"></div>
		<div class="left padding10"><img src="../images/avatars/avatar6.png"></div>
		<div class="left padding10"><img src="../images/avatars/avatar7.png"></div>
		<div class="left padding10"><img src="../images/avatars/avatar8.png"></div>
		<div class="left padding10"><img src="../images/avatars/avatar9.png"></div>
		<div class="left padding10"><img src="../images/avatars/avatar10.png"></div>
		<div class="left padding10"><img src="../images/avatars/avatar11.png"></div>
		<div class="left padding10"><img src="../images/avatars/avatar12.png"></div>

	</div>
{% endblock %}
