{% extends "base.html.twig" %}

{% block title %}
	Edition membre

{% endblock %}

{% block body %}

	<h1>Edition du membre
		{{membre.nom}}
		{{membre.prenom}}</h1>

	{{membre.email}}

{% endblock %}
