{% extends "base.html.twig" %}

{% block title %}
	Page membre!
{% endblock %}

{% block body %}
	<p>
		<a href="/">home</a>
	</p>
	<h1>Espace membre</h1>
	<div class="clearfix">
		<a href="profilModify">
			<div class="bigicone"><img src="../images/workers/worker1.png">Modifier mon profil</div>
		</a>
		<a href="articleAdd">
			<div class="bigicone"><img src="../images/workers/worker2.png">Créer un nouvel article</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/workers/worker3.png">Voir/Modifier mes articles</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/workers/worker4.png">Gérer mes collaborateurs</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/workers/worker5.png">Gérer mon parc de location</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/workers/worker6.png">Ajouter/supprimer des options d'articles</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/workers/worker7.png">Mes documents</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/workers/worker8.png">Mes messages</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/workers/worker9.png">Mes notifications</div>
		</a>

	</div>

{% endblock %}
