{% extends "base.html.twig" %}

{% block title %}
	Page membre!
{% endblock %}

{% block body %}

	<h1>Espace membre</h1>
	<div class="clearfix">
		<a href="profilModify">
			<div class="bigicone"><img src="../images/worker1.png">Modifier mon profil</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/worker2.png">Créer un nouvel article</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/worker3.png">Voir/Modifier mes articles</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/worker4.png">Gérer mes collaborateurs</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/worker5.png">Gérer mon parc de location</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/worker6.png">Ajouter/supprimer des options d'articles</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/worker7.png">Mes documents</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/worker8.png">Mes messages</div>
		</a>
		<a href="">
			<div class="bigicone"><img src="../images/worker9.png">Mes notifications</div>
		</a>

	</div>

{% endblock %}
