{% extends "base.html.twig" %}

{% block title %}
	Mot de passe oublié
{% endblock %}

{% block body %}
	<p>
		<a href="/">home</a>
	</p>
	<h1>Mot de passe oublié</h1>
	<p>Veuillez remplir votre email ainsi que votre pseudo. Nous vous enverrons un nouveau mot de passe de connexion que vous pourrez modifier par la suite.</p>
	{{ form_start(formPasswordForget) }}
	{{ form_row(formPasswordForget.pseudo)}}
	{{ form_row(formPasswordForget.email)}}

	<button class="btn btn-lg btn-primary" type="submit">
		Envoyer
	</button>
	{{ form_end(formPasswordForget) }}


{% endblock %}
