{% extends "base.html.twig" %}

{% block title %}
	Edition de mon profil
{% endblock %}

{% block body %}

	<p>
		Navigation :<a href="/">home</a>/<a href="membre">Espace membre</a>/<a href="profilModify">Modifier mon profil</a>
	</p>
	<h1>Edition de mon profil</h1>

{% endblock %}
