{% extends "base.html.twig" %}

{% block title %}
	Membre!
{% endblock %}

{% block body %}

	<h1>Modifier Mon profil</h1>
	<div class="clearfix">
		<a href="adress">
			<div class="bigicone"><img src="../images/worker1.png">Créer/Gérer mes adresses</div>
		</a>
	</div>
{% endblock %}
