{% extends "base.html.twig" %}

{% block title %}
	Membre!
{% endblock %}

{% block body %}

	<p>
		Navigation :<a href="/">home</a>/<a href="membre">Espace membre</a>
	</p>

	<h1>Modifier Mon profil</h1>

	<div class="clearfix">
		<a href="adress">
			<div class="bigicone"><img src="../images/worker1.png">Créer/Gérer mes adresses</div>
		</a>
		<a href="profilEdit">
			<div class="bigicone"><img src="../images/worker2.png">Editer mon profil</div>
		</a>
	</div>
{% endblock %}
