*{
    padding: 0px;
    margin: 0px;
}

.spacer100{
    height: 100px;
}

.spacer50{
    height: 50px;
}

.spacer150{
    height: 150px;
}

.spacer200{
    height: 200px;
}

.titreSite{

    font-size: 60px;
    color: rgb(25, 11, 31);
    text-align: right;
    text-shadow: rgb(93, 96, 131) 10px 5px 20px;
    padding-top: 30px;
    padding-right: 80px;
}

.input{
    padding: 2px;
}

.footer{
    min-height: 200px;
    background-color: rgb(12, 26, 68);
    color: white;
}

.left{
    float: left;
}

.right{
    float: right;
}

.padding10{
    padding: 10px;
}

.formConnexion{
    float: left;
    width: 400px;
    height: 400px;;
}

.formInscription{
    float: left;
    height: 400px;
}

.unmask{
    position: absolute;
    margin-left: 350px;
    margin-top: 4px;
    height: 29px;
    width: 38px;
    border: 0px;
}

.bigicone{
    float: left;
    width: 412px;
    height: 150px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.bigicone:hover{
    border-color: black;
    box-shadow: 1px 1px 20px #555555;
    background-color: white;
}

.floatleft50{
    width: 50%;
    float: left;
}

.postCard{
    background-color: white;
    min-width: 600px;
    height: 320px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    float: left;
}

.avatar{
    position: absolute;

}

.avatarModify{
    position: absolute;
    text-align: right;
    margin-left: 150px;
    padding-top: 210px;
}

.hidden{
    visibility: hidden;
}

.line{
    border-bottom: solid 1px black;
    height: 50px;
    width: 100%;
}

.delImage{
    position: absolute;
    margin-left: 170px;
}

.planningShow{
    background-color: white;
}

.planningToday{
    background-color: rgb(219, 219, 253);
}

.planningMask{
    background-color: #e3dfff;
}

.planningWeekend{
    background-color: #e0e0e0;
}