<!DOCTYPE html>
<html>
	{% include 'head.html.twig' %}
	<body>
		<div class="container">
			<div class="spacer200">
				<div class="titreSite">Clechantier.fr</div>
			</div>
			{% include 'nav.html.twig' %}
			<div class="spacer100"></div>
			{% block body %}{% endblock %}
		</div>
		<div class="spacer50"></div>
	{% include 'footer.html.twig' %}
	</body>
</html></body></html>
