<footer class="bg-dark footer">
	<div class="container w-100">
		<div class="row">
			<div class="w-25 d-inline-block">
				<p>
					<a href="cgu">Conditions générales d'utilisation</a>
				</p>
				<p>Mentions légales</p>
				<p>Accesibilité</p>
				<p>copyright</p>
			</div>
			<div class="w-25 d-inline-block">
				<p>Nous contacter</p>
				<p>Facebook</p>
				<p>twitter</p>
				<p>un truc  ici</p>
			</div>
			<div class="w-25 d-inline-block">
				<p>Nous rejoindre</p>
				<p>Espace entreprises</p>
			</div>
			<div class="w-25 d-inline-block">
				<p>Foire aux questions</p>
			</div>
		</div>
	</div>
</footer>
